.checkbox-container {
    display: block;
    position: relative;
    padding-left: 1.5rem; 
    margin-top: 0.375rem;  
    cursor: pointer;
    font-size: 0.675rem;
    font-weight: 300;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 50%;
    -webkit-translate: 0 -0.375rem;
    -ms-translate: 0 -0.375rem;
    translate: 0 -0.375rem;
    left: 0;
    height: 0.75rem;
    width: 0.75rem;
    border: 0.5px solid black;
    background-color: white;
  }
     
  /* When the checkbox is checked, add a black background */
  .checkbox-container input:checked ~ .checkmark {
    background-color: #0d0d0d;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-container .checkmark:after {
    // left: 6px;
    // top: 2px;
    // width: 5px;
    // height: 10px;
    left: 0.28rem;
    top: 0.1rem;
    width: 0.235rem;
    height: 0.46875rem;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  